<main class="content">
  <header class="app-title">
    <section class="app-description">
      <div class="logo-icon">🍴</div>
      <h1 class="logo-app">FoodiesApp</h1>
    </section>

    <section class="search-wrapper">
      <div class="search-foods">
        <mat-form-field appearance="outline">
          <mat-label>buscar</mat-label>
          <input matInput placeholder="comida" autocomplete="off" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <button type="button" mat-raised-button color="primary"><mat-icon>search</mat-icon> Buscar</button>
        <button type="button" mat-raised-button color="warn"><mat-icon>close</mat-icon> limpar</button>
      </div>
    </section>
  </header>

  <mat-divider></mat-divider>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Brasileira</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content> Hamburger com batata frita </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content> Hamburger com batata frita </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content> Hamburger com batata frita </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content> Hamburger com batata frita </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content> Hamburger com batata frita </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content> Hamburger com batata frita </mat-card-content>
  </mat-card>
</main>
