@use '../../../../shared/variables-styles/style.scss' as *;

.content {
  margin-top: 2rem;

  > .app-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    color: $color-primary-h1;

    .app-description {
      display: flex;
      align-items: center;
      gap: 8px;

      .logo-icon {
        background-color: #a8e6cf;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }

      .logo-app {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .search-wrapper {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    .search-foods {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex: 1;

      mat-form-field {
        flex: 1;
        width: 60%;
        min-width: 200px;
        max-width: 600px;
      }
    }
  }
}

.results-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .card-food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    .mat-card-title-group {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    mat-card-title-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    mat-card-title {
      color: $color-primary-h1;
      font: $font-main;
    }

    mat-card-subtitle {
      margin-top: 1rem;
      color: $color-background-tertiary;
      font-weight: $font-main;
    }

    mat-card-content {
      margin-top: 1rem;
      color: $color-primary-h1;
    }

    .pizza-image {
      width: 100%;
      max-width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
      margin: 0 auto;
      margin-left: auto;
    }
  }
}

footer {
  margin-top: 1rem;
  color: $color-background-tertiary;

  > .copy-rights {
    color: $color-primary-h1;
  }

  .footer-description {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2rem;

    .foodiesApp,
    .Informações {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }

    .social-media {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      .social-icons {
        display: flex;
        gap: 1rem;

        a {
          color: $color-primary-h1;
          font-size: 1.5rem;
          transition: color 0.3s;

          &:hover {
            color: $color-background-secondary;
          }
        }
      }

      .sub-social-media {
        display: flex;
        gap: 1rem;

        a {
          font-size: 1.5rem;
          color: #333;
          transition: color 0.3s;

          &:hover {
            color: #007bff;
          }

          &.youtube:hover {
            color: #ff0000;
          }

          &.instagram:hover {
            color: #e1306c;
          }

          &.facebook:hover {
            color: #1877f2;
          }

          &.twitter:hover {
            color: #1da1f2;
          }
        }
      }
    }
  }

  .footer-end {
    margin-top: 2rem;
  }
}
